[submodule "autofdo"]
	path = autofdo
	url = git@github.com:sunxfancy/autofdo.git
[submodule "LLVM-IPRA"]
	path = LLVM-IPRA
	url = git@github.com:sunxfancy/LLVM-IPRA.git
[submodule "UMake"]
	path = UMake
	url = git@github.com:sunxfancy/UMake.git
