/build/
/install/
/.vscode/
/benchmarks/C_FFT-master
/benchmarks/dparser-master
/benchmarks/mysql-experiment
/benchmarks/SNU-real-time
/benchmarks/vorbis-tools-master
/reproduce-bug/build
/reproduce-bug/install
/reproduce-bug/llvm-project-main
.gdb_history
*.output
